<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Insert title here</title>
<link th:rel="stylesheet" th:href="@{css/styles.css}">
<link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	
</head>
<body>
<div class="container">
	<div class="row">
		<section class="col-sm-6 col-md-9 bg-light">
			<h3>LOGIN DE USUARIO</h3>
				<form class="form"   th:action="@{/login}"	method="post">
					<div class="form-group">
						<label for="Usuario">Username</label> 
						<input type="text" class="form-control"	id="Usuario" name="Usuario">
					</div>
					<div class="form-group">
						<label for="contrasena">Password</label> 
						<input type="password" class="form-control" id="contrasena" name="password">
					</div>
					<button type="submit" class="btn btn-primary">Ingresar</button>
				</form>
				<div th:if="${param.error}" class="alert alert-danger" role="alert">	
						Combinación Invalida de Usuario y Contraseña</div>
				<div th:if="${param.logout}" class="alert alert-success" role="alert">
					Ha salido del Sistema. Gracias!</div>

		</section>
</div>
	<script th:src="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script th:src="@{webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
	<script th:src="@{webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

</body>
</html>