<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.15.3/css/all.css}"
		integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	<link th:rel="stylesheet" th:href="@{css/styles.css}">
	<link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="shortcut icon" href="img/favicon.png" />
	<title>CUSTOMERS</title>
</head>

	<body class="body-gam">
		<!--   HEADER    -->
		<div th:replace="layouts/header :: header"></div>
		
		<!--   NAV WITH TABS    -->
		<div th:replace="layouts/nav-tabs :: div"></div>
		
		<div class="container">
			<div class="show-case-2">
				<h1 class="text-center text-light text-uppercase pt-5 font-weight-bold">PAGOS</h1>
			</div>
		</div>
		<!--Formulario de pago-->
					<div class="row">
						<div class="col-md-8 d-block m-auto">
							<form th:action="@{/pago-guardar}" method="POST" type="text"
								th:object="${payments}" class="text-light mb-4 px-4 py-4 bg-pv--form rounded gam-overflow">
				
								<div class="row d-flex justify-content-center">
									<div class="form-group col-md-5">
										<label for="customerNumber">Numero de cliente<i
												class="far fa-keyboard text-light ml-2"></i></label>
										<textarea th:field="*{customerNumber}" class="form-control" id="customerNumber"
											rows="3"></textarea>
									</div>
									<div class="form-group col-md-5">
										<label for="checkNumber">Verifquel número de cliente <i
												class="far fa-keyboard text-light ml-2"></i></label>
										<textarea th:field="*{checkNumber}" class="form-control" id="checkNumber"
											rows="3"></textarea>
									</div>
				
								</div>
								<div class="row d-flex justify-content-center">
				
									<div class="form-group col-md-5">
										<label for="paymentDate">Fecha de Pago</label>
										<input th:field="*{paymentDate}" type="text" class="form-control" id="paymentDate">
										<div class="form-text alert-danger col-md-12 rounded-bottom " th:if="${#fields.hasErrors('paymentDate')}" th:errors="*{paymentDate}"></div>
									</div>
									<div class="form-group col-md-5">
										<label for="paymentDate">Monto</label>
										<input th:field="*{amount}" type="text" class="form-control" id="paymentDate">
										<div class="form-text alert-danger col-md-12 rounded-bottom " th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
									</div>
								</div>
								<div class="row ml-5 pl-4">
									<button type="submit" class="btn btn-primary">Guardar</button>
								</div>
							</form>
						</div>
					</div>

	
		<!--   FOOTER    -->
		<div th:replace="layouts/footer :: footer"></div>
		
		<script th:src="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script th:src="@{webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
		<script th:src="@{webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	
	</body>
</html>