<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<!--   FOOTER   -->
				
			<footer id="footer" class="pb-4 pt-4 mt-5 footer-gam">
				<div class="container text-light">
					<div class="row text-center">
						<div class="col-12 col-lg">
							<a href="#">Preguntas frecuentes</a>
						</div>
						<div class="col-12 col-lg">
							<a href="#">Contáctanos</a>
						</div>
						<div class="col-12 col-lg">
							<a href="#">Prensa</a>
						</div>
						<div class="col-12 col-lg">
							<a href="#">Conferencias</a>
						</div>
						<div class="col-12 col-lg">
							<a href="#">Términos y condiciones</a>
						</div>
						<div class="col-12 col-lg">
							<a href="#">Privacidad</a>
						</div>
						<div class="col-12 col-lg">
							<a href="#">Nuestros empleados</a>
						</div>
					</div>
				</div>
			</footer>
				
	</body>
</html>