<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<!--   HEADER    -->
  <header th:fragment="header">
	  <div class="container">
	    <nav class="navbar navbar-expand-lg navbar-dark  gam-bg--nav">
	      <a class="navbar-brand" href="/home">
	        <img th:src="@{/img/logo.svg}" width="80" height="40" alt="logo">
	      </a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	      
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	          <ul class="navbar-nav mr-auto">            
	           <form sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
                        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                    </button>
                </form>    
	            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
	              <a class="nav-link" href="/productlines">Acciones</a>
	            </li>        	         
	            
	            <li class="nav-item dropdown">
	              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                <i class="fas fa-car"></i> Comprar 
	              </a>
	              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	                <a class="dropdown-item" href="/productLines-list">Categorías</a>
	                <a class="dropdown-item" href="/products-list">Listado de vehículos</a>                                
	              </div>
	            </li>
	            
	          </ul>
	          <ul class="navbar-nav ml-auto navbar-gam">
	            <li class="nav-item">
	              <a class="btn-gam-repo" role="button" href="https://github.com/sebasr41/grupoSGCRFINAL/tree/master" target="_blank">Nuestro repositorio<i class="fab fa-github"></i></a>
	            </li>
	             
	          </ul>         
	        </div>
	    </nav>
	  </div>	   
  </header>
    
</body>
</html>

