<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<!--   NAV WITH TABS    -->
	<div th:fragment="navegation">
	
		<div class="navbar navbar-expand-lg container">			

			<div>
				<ul class="nav nav-tabs">					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle gam-text-light gam-border-bottom" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Categoría
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/productlines">Nueva</a>
							<a class="dropdown-item" href="/productLines-list">Lista</a>							
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle gam-text-light gam-border-bottom" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Autos
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/products">Nuevo</a>							
							<a class="dropdown-item" href="/products-list">Lista</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle gam-text-light gam-border-bottom" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Ordenes
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">							
							<a class="dropdown-item" href="/order-list">Lista</a>							
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle gam-text-light gam-border-bottom" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Clientes
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">							
							<a class="dropdown-item" href="/crearusuario">Nuevo cliente</a>							
							<a class="dropdown-item" href="/customer-list">Lista</a>							
						</div>						
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle gam-text-light gam-border-bottom" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Oficina
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">							
							<a class="dropdown-item" href="/offices">Nueva oficina</a>							
							<a class="dropdown-item" href="/offices-guardar">Lista</a>							
						</div>						
					</li>
					
				</ul>
				
			</div>
		</div>
	</div>

</body>

</html>